<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<header>
		<h1>Nuestro Restó</h1>
		<h2>Carta</h2>
	</header>
	<div class="ContenedorB"> 
		<nav class="menu">
			<ul>
				<li><a href="#Entradas">Entradas</a></li>
				<li><a href="#Platos principales">Platos principales</a></li>
				<li><a href="#">Ensaladas</a></li>
				<li><a href="#">Raws</a></li>
				<li><a href="#Postres">Postres</a></li>
				<li><a href="#">Desayuno y Meriendas</a></li>
				<li><a href="#">Bebidas</a></li>
				<li><a href="#">Smoothies</a></li>
				<li><a href="#">Té y café</a></li>
				<li><a href="#">Vinos</a></li>
				<li><a href="#">Cervezas</a></li>
			</ul>
		</nav>
	</div>
	<div class="ContenedorC">
		<section id="Entradas">
				<img src="/images/foto-entradas.jpg">
				Entradas<br>
				==================<br>
				
				<b>Muzzarella Sticks</b><br>
				Bastones de muzzarella rebozados<br><br>
				
				Jalapeños rellenos<br>
				Jalapeños rellenos de langostinos <br>
				y queso Cheddar con panceta.<br><br>
				
				Ración de Rabas<br>
				220 gr. de chicharrón de calamar <br>
				frito con alioli<br><br>
				
				Ración de papas fritas con Cheddar y verdeo<br><br>
				
				Chicken Wings<br>
				Alitas de pollo empanada y frita con salsa BBQ<br>
				
				Croquetas de hongos<br>
				Croquetas elaboradas a base de hongos disecados.<br>
				
				Langostinos en cous cous<br>
				Langostinos a la plancha con frutos secos, tomates cherry, albahaca y cous cous<br><br>
				
				Chipirones a la plancha<br>
				Con chutney de mango y sandía a la plancha<br><br>
				
				Nachos con refrito<br>
				Nachos salteados con porotos negros, chorizo colorado y salsa BBQ<br><br>
				
				Tapa de morcilla<br>
				Pan casero de campo, morcilla, verdeo y queso brie.<br><br>
				
				Tapa de campo<br>
				Morcilla, papa, chutney de manzana y crema de eneldo<br><br>
				
				Tapa de mollejas<br>
				Mollejas con mango, ananá, jengibre, chiles y pochoclo.<br><br>
				<a href="#">Volver arriba</a><br><br>
		</section>
		<section id="Platos principales">
				<img src="/images/foto-ppal.jpg">
				Platos Principales<br>
				==================<br><br>
				
				Bife Criollo<br>
				Ojo de bife con patines andinos, ensalada de rúcula, provolone y salsa criolla<br><br>
				
				Ensalada Caesar<br>
				Con langostinos o con Pollo<br>
				Clásica Caesar Salad con pollo grillado o langostinos<br><br>
				
				Penne Rigatte<br>
				Con salsa filete, crema o rosa.<br><br>
				
				Ensalada de langostinos<br>
				Langostinos salteados, trabajito, cebolla de verdeo y mango con dressing de naranja, vinagre y aceite de oliva.<br><br>
				
				Ceviche (elaborado en el momento)<br>
				Pesca del día del barrio chino con cebolla morada, ajo, rocoto, apio, cilantro, jengibre, maíz cancha, batata y leche de tigre.<br><br>
				
				Pesca con Chop Suey<br>
				Pesca del día a la plancha con olivas, ajo y alcaparras, acompañada de chop suey de vegetales.<br><br>
				
				Pesca a la plancha<br>
				Con risotto verde de espárragos y remolacha asada.<br><br>
				
				Bife T-Bone<br>
				600 gas de carne corte T-Bone con chimichurri, patines andinos y encurtido de remolacha.<br><br>
				
				Pechuguitas Ahumadas<br>
				Pechugas de pollo ahumadas, rellenas con duxelle de hongos y cebolla. Servido con arroz con mostaza y naranjas almendradas<br><br>
				
				Carré de cerdo<br>
				Con Chutney de zanahorias y batatas glaseadas con salsa teriyaki.<br><br>
				
				Sorrentinos verdes<br>
				Rellenos con calabaza asada y queso brie, perfumados con manteca de hierbas y jugo de pomelo.<br><br>
				<a href="#">Volver arriba</a><br><br>
		</section>
		<section id="Ensaladas"></section>
		<section id="Raws"></section>
		<section id="Postres">
				<img src="/images/foto-postre.jpg">
				Postres<br>
				==================<br><br>
				Flan Casero<br>
				Nuestro clásico flan con dulce de leche y crema.<br><br>
				
				Ensalada de frutas<br><br>
				
				Fondue de chocolate<br>
				Con frutas frescas fileteadas.<br><br>
				
				Crocante de Banana y Nutella<br><br>
				
				Degustación de Mousses<br>
				Mousse de mango, chocolate, moka y frutos rojos.<br><br>
				
				Cheesecake <br> <br>
				<a href="#">Volver arriba</a><br><br>
		</section>
		<section id="Desayuno y Meriendas"></section>
		<section id="Bebidas"></section>
		<section id="Smoothies"></section>
		<section id="Té y café"></section>
		<section id="Vinos"></section>
		<section id="Cervezas"></section>
	</div>
	<div class="ContenedorD">
		<footer>
			<img src="/images/logo-web.png">
			<nav class="redes sociales">
				<ul>
					<a href="#">Contacto</a><br><br>
					<a href="#">facebook</a><br>
					<a href="#">twitter</a><br>
					<a href="#">instagram</a><br>
				</ul>
			</nav>
		</footer>
	</div>
</body>
</html>