* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  width: 1200px;
}

header {
  border-bottom: solid 2px gray;
}

.ContenedorB {
  width: 300px;
  float: left;
  padding: 15px;
}

.ContenedorB ul{
  list-style-type: none;
}

.ContenedorC {
  width: 610px;
  float: right;
  padding: 15px;
  border-left: solid 2px gray;
  margin-right: 200px;
  margin-top: 20px;
}

.ContenedorC img{
  float: right;
}

footer {
  display:inline-block;
  padding: 20px;
  background-color: gray;
}

footer img {
  max-width: 30%;
  height: auto;
}

.redes{
  float:right;
  color: white;
}